.Order-product {
  width: 90%;
  text-align: center;
}

.Order-product-name {
  text-align: left;
  width: 36%;
}

.Order-quantity, .Order-price {
  width: 27%;
}

.Btn-product {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid 1px #E0052D;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

i {
  color:#E0052D;
}

.Order-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Order-number-price {
  margin-right: 10px;
}



