.Order-titles{
  color:#E0052D;
  width: 100%;
  text-align: center;
}

.Order-categories{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-weight: 700;
}
