.Header-nav-waiter {
  width: 100vw;
  height: 70px;
  background-color: #E0052D;
  position: fixed;
  top: 0;
  font-size: 1.5em;
  color: white; /* ¿Blanco? */
  display:flex;
}

.Nav-container-left {
  width: 65%;
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
}

.Nav-container-right {
  width: 35%;
  display: flex;
  justify-content: center;
  /* background-color: fuchsia; */
}

.Nav-waiter {
  width: 85%;
  display: flex;
  align-items: center;
  list-style-type: none;
  /* background-color: fuchsia; */
}

.Nav-home-icon {
  width: 40px;
  height: auto;
  /* stroke-width: 30px ;
  fill: #E0052D; */
}

.Nav-waiter-item {
  margin-right: 40px;
}

.Nav-waiter-logo {
  width: auto;
  height: 60px;
}
