ul {
  padding: 0; /* Eliminar padding-left 40 */
}

.Menu-section {
  width: 65%;
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal*/
  justify-content: space-around;
}
