ul {
  padding: 0; /* Eliminar padding-left 40 */
}

.Waiter-section{
  display: flex;
}
.Menu-section {
  width: 65%;
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 0;
  background-color: #F6F6F6;
  flex-direction: column;
  align-items: center; /* Horizontal*/
  justify-content: space-around;
}

.Order-section{
  width: 35%;
  /* display: flex;
  justify-content: right; */
}
