.Overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 450px;
  height: 450px;
  background-color: white;
  z-index: 1000;
  border-radius: 30px;
}
.Modal-btn-close{
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  height: 50px;
}

.Btn-cancel{
  font-size: 20px;
  width: 35px;
  height: 35px;
	line-height: 16px;
  /* align-items: center;
	text-align: center; */
  /* transition: .3s ease all; */
  border: none;
  background-color: #FFCD05;
  border-radius: 50px;
}

i{
  color: white;
}
.Add-order-btn{
  border: 1px solid #E0052D;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #E0052D;
  color: aliceblue;
}

.Modal-title{
  font-weight: 700;
  color:#E0052D;
  width: 100%;
  text-align: center;
}
