.Products-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: fuchsia; */
}

.Product-card {
  width: 25vw;
  max-width: 250px;
  height: 25vw;
  max-height: 270px ;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9em;
  color: #E0052D;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Product-price {
  align-self: flex-end;
  margin-right: 10%;
  margin-bottom: 0px;
}

.Product-title {
  font-weight: 300px;
  margin: 0px;
}

.Product-image {
  width: 60%;
  max-width: 200px;
  height: auto;
  border-radius: 20px;
}

.Product-btn{
  border: 1px solid #E0052D;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #E0052D;
  color: aliceblue;
  margin-bottom: 15px;
}
