.Cooking-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37%;
    width: 42%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}