.Home {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #E0052D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-logo {
  height: 30vmin;
  pointer-events: none;
}

.Home-btn {
  width: 200px;
  height: 50px;
  margin: 30px 40px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: #E0052D;
  box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}

