ul {
  padding: 0; /* Eliminar padding-left 40 */
}

.Waiter-section{
  display: flex;
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 0;
}

.Menu-section {
  display: flex;
  width: 65%;
  height: 100%;
  background-color: #F6F6F6;
  flex-direction: column;
  align-items: center; /* Horizontal*/
  justify-content: space-around;
}

.Order-section{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal*/
}
